.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.color-body{
    border: 3px solid hsl(0, 0%, 88%);
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
}

.color-body p{
    font-size: 2rem;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 20px;
    font-weight: bold;
}

input[type="color"]{
    margin-left: 5px;
    border-radius: 5px;
    width: 55px;
    height: 35px;
}

h1,p {
    font-family: Arial, sans-serif;
}